.close-button {
  font-size: 12px;

  /* padding: 3px 7px; */
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  border-radius: 12px;
  /* color: #3D3D3D; */
  color: rgb(255, 203, 200);
  border: none;
  background: rgba(255, 58, 48, 0.704);
  font-family: 500;
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1);
  height: 20px;
  align-self: center;
  
  }

  .close-button:hover {
    background-color: rgb(255, 59, 48);
    color: white;

  }

.preset-button {
   background-color:  rgba(0, 123, 255, 0.067);
  
}
.preset-button.selected-button {
    background-color:  rgba(0, 123, 255, 1);
}

.particle-id-div, .rule {
  display: flex;
  justify-content: space-between;
  
 
}