.close-button {
font-size: 12px;
  flex-direction: row;
  align-items: center;
  padding: 3px 7px;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  border-radius: 15px;
  /* color: #3D3D3D; */
  color: rgb(255, 59, 48);
  border: none;
  background: rgb(255, 59, 48, 0.173);
 
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-left: 10px;
  }

  .close-button:hover {
    background-color: rgb(255, 59, 48);
    color: white;
  }

.preset-button {
   background-color:  rgba(0, 123, 255, 0.067);
  
}
.preset-button.selected-button {
    background-color:  rgba(0, 123, 255, 1);
}