canvas {
    border-radius: 12px;


    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    
  
  }

#canvas-text-container{
    
    /* justify-content: center;
    display: flex; */
   margin-top: 30px;
}

#canvas-container {
    /* margin-left: auto; */
    position:relative;

    width:500px;
    height:500px;
  
    margin: 0 auto;
    /* background:red; */
      
    padding:10px;

   
}
#right-column{
    position:absolute;
    top:0px;
    left:100%;
  
    width:200px;
    height:500px;
    padding:10px;
}
#particle-holder{
    /* margin-left: auto; */
    

}
#rule-holder {
    margin-top: 10px;
    /* position:absolute;
    top:auto;
    left:100%;
  
    width:200px;
    height:500px;
    padding:10px; */
}
/* Button style */
#petri-buttons{
    margin-top: 12px;
   
    display: flex;
    justify-content: center;
   
}



body {
    background-color: white;
}

h1,h2{
    color: #3D3D3D;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
}
/* CSS */
.game-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 6px 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  border-radius: 15px;
  /* color: #3D3D3D; */
  color: rgb(0, 122, 255);
  border: 2px solid #007aff;
  background: #fff;
 
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-right: 10px;
}
.selected-button{
    color: white;
    background-color: rgb(0, 122, 255);
}
 .game-button:hover {
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
  color: white;
    background-color: rgb(0, 122, 255);
} 

#clear-button{
    color: rgb(255, 59, 48);
    border: 2px solid rgb(255, 59, 48);
}

#input-form-particle,#input-form-particle-remove,#input-form-add-rule{
    margin-top: 12px;
    display: flex;
    justify-content: center;
}


input[type="color"] {
	-webkit-appearance: none;
	border: none;
	width: 32px;
	height: 32px;
    border-radius: 5px;

}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
    border-radius: 5px;
}
input[type="color"]::-webkit-color-swatch {
	border: none;
    border-radius: 5px;
}

.inputFormElement{
    margin-right: 10px;
}

input.game-button.inputFormElement{
    color: green;
}

output {
    display: block;
    margin-top: 6px;
    width: 50px;
}