canvas {
    border-radius: 12px 0px 0px 12px;


    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;


}

#canvas-text-container {

    /* justify-content: center;
    display: flex; */
    margin-top: 30px;
}

#canvas-container {
    /* margin-left: auto; */
    position: relative;

    width: 500px;
    height: 500px;

    margin: 0 auto;
    /* background:red; */

    /* padding: 10px; */


}

#right-column {
    position: absolute;
    top: 0px;
    left: 100%;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    width: 250px;
    height: 490px;
    overflow: auto;
    border-radius: 2px 10px 10px 0px;
    background-color: rgb(229, 229, 234);
}

#left-column {
    position: absolute;
    top: 0px;
    right: 100%;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    width: 250px;
    height: 490px;

    overflow: auto;
    border-radius: 10px 0px 0px 10px;
    background-color: rgb(229, 229, 234);
}



#rule-holder {
    margin-top: 10px;
    height: 400px;

}

/* Button style */
#petri-buttons {
    margin-top: 12px;

    display: flex;
    justify-content: center;

}

#presets-container {
    margin-top: 12px;

    display: flex;
    justify-content: center;

}


body {
    background-color: rgb(242, 242, 247);
}

h1, h2, h3, h4 {
    color: #3D3D3D;
    text-align: center;
    font-weight: 900;
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
}

p {
    color: #3D3D3D;
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
}

/* CSS */
.game-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 6px 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
    border-radius: 15px;
    /* color: #3D3D3D; */
    color: rgb(0, 122, 255);
    border: none;
    background: hsla(211, 100%, 50%, 0.173);

    box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-right: 10px;
    font-weight: bold;
}

.selected-button {
    color: white;
    background-color: rgb(0, 122, 255);


    /* border: 2px solid #007aff; */
    /* box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5); */
}

.game-button:hover {
    /* box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5); */
    outline: 0;
    color: white;
    background-color: rgb(0, 122, 255);


}

#clear-button {
    color: rgb(0, 122, 255);
    background-color: rgba(255, 58, 48, 0.173);
    /* border: 2px solid rgb(255, 59, 48); */
}

#clear-button:hover {
    background-color: rgba(255, 58, 48, 0.571);
}

#input-form-particle,
#input-form-particle-remove,
#input-form-add-rule {
    margin-top: 12px;
    display: flex;
    justify-content: center;


}


input[type="color"] {
    -webkit-appearance: none;
    border: none;
    width: 32px;
    height: 32px;
    border-radius: 5px;

}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
    border-radius: 5px;
}

input[type="color"]::-webkit-color-swatch {
    border: none;
    border-radius: 5px;
}

.inputFormElement {
    margin-right: 10px;

}

input.game-button.inputFormElement {
    color: rgba(52, 199, 91);
    background-color: rgba(52, 199, 91, 0.173);
}

input.game-button.inputFormElement:hover {
    color: white;
    background-color: rgb(52, 199, 90);
}

output {
    display: block;
    margin-top: 6px;
    width: 50px;
}

#info {
    margin: auto;
    margin-top: 24px;
    width: 500px;
    border: 3px solid #3D3D3D;;
    padding: 10px;
    border-radius: 12px;
    display: block;
}